In [2]:
import pandas as pd

In [3]:
file = "Resources/election_data.csv"
df = pd.read_csv(file)
df.head()

   Ballot ID     County                Candidate
0    1323913  Jefferson  Charles Casper Stockham
1    1005842  Jefferson  Charles Casper Stockham
2    1880345  Jefferson  Charles Casper Stockham
3    1600337  Jefferson  Charles Casper Stockham
4    1835994  Jefferson  Charles Casper Stockham

In [4]:
df["Ballot ID"].count()

369711

In [5]:
df.groupby("Candidate").size()

Candidate
Charles Casper Stockham     85213
Diana DeGette              272892
Raymon Anthony Doane        11606
dtype: int64

In [6]:
df.groupby("Candidate").size() / df["Ballot ID"].count()

Candidate
Charles Casper Stockham    0.230485
Diana DeGette              0.738122
Raymon Anthony Doane       0.031392
dtype: float64